{% extends 'users/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<p>Сайт разработан как учебный проект проходя курсы FoxMinded</p>
    <ul>
        <li>Задания: </li>
        <li>Разработать Django проект.</li>
        <li>Создать модели Пользоветелей, фотографий и т.д..</li>
        <li>Добавить представления и пути</li>
        <li>Добавить функционал сохранения фотографий и создания превью</li>
        <li>Добавить функционал лайков и дислайков</li>
        <li>Добавить функционал тегов</li>
        <li>Заполнить исскуственными даннами базу данных и сгенерировать миграции</li>
        <li>Розместить сайт на сервере</li>
        <li>Покрыть проект тестами</li>
    </ul>
{% endblock %}