{% extends 'users/base.html' %}
{% load help_tags %}

{% block content %}

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row"
                         style="background-color: #000; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            {% if foreign_user.avatar %}
                                <img src="{{ foreign_user.avatar.url }}"
                                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="width: 150px; z-index: 1">
                            {% else %}
                                <img src="https://as2.ftcdn.net/v2/jpg/03/15/18/09/1000_F_315180932_rhiXFrJN27zXCCdrgx8V5GWbLd9zTHHA.jpg"
                                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="width: 150px; z-index: 1">
                            {% endif %}
                        </div>

                        <div class="ms-3" style="margin-top: 130px;">
                            <h5>{{ foreign_user.username }}</h5>
                            <p>{{ foreign_user.first_name }} {{ foreign_user.last_name }}</p>
                        </div>
                    </div>

                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                        <div class="d-flex justify-content-end text-center py-1">
                            <div>
                                <p class="mb-1 h5">{{ user_images_count }}</p>
                                <p class="small text-muted mb-0">Photos</p>
                            </div>
                            <div class="px-3">
                                <div class="followers-span"  style="padding-bottom: 2px"><span class="fl-qty mb-1 h5">{{ followers }}</span></div>
                                <p class="small text-muted mb-0"><a
                                        href="{% url 'followers' foreign_user.pk %}">Followers</a></p>
                            </div>
                            <div>
                                <p class="mb-1 h5">{{ follows }}</p>
                                <p class="small text-muted mb-0"><a href="{% url 'follows' foreign_user.pk %}">Following</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">О себе</p>
                            <div class="p-4" style="background-color: #f8f9fa;">
                                <p class="font-italic mb-1">{{ foreign_user.about }}</p>
                                {#                                    <p class="font-italic mb-1">Lives in New York</p>#}
                                {#                                    <p class="font-italic mb-0">Photographer</p>#}
                            </div>
                        </div>
                        {% include 'followers/includes/followers.html' with foreign_user=foreign_user %}
                    <br>
                        {% for i in user_images %}
                            <div class="row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <div class="card" style="width: 200%">
                                        <div class="card-body">
                                            <div class="col mb-2">
                                                <img src="{{ i.image.url }}"
                                                     alt="image 1" class="w-100 rounded-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}