{% extends 'users/base.html' %}
{% load help_tags %}

{% block content %}
    {% user_post post.user.id as users_post %}
    <div class="article-panel">
        <p class="first">User: {{ users_post }}</p>
        <p class="last">Date: {{ post.time_update|date:"d-m-Y H:i:s" }}</p>
    </div>

    <h1>{{ post.title }}</h1>

    {% post_image post.id as image_list %}
    {% if image_list %}
        <p>
            {% for i in image_list %}
                <img class="img-article-left thumb" alt="post image" src="{{ i.image.url }}">
            {% endfor %}
        </p>

    {% endif %}
    <p>{{ post.text|linebreaks }}</p>
    <p>{{ post.tags }}</p>

    <div class="post_footer">
        {% include 'likes/includes/add_like.html' with post_id=post.pk %}
        <div class="tags-footer-post">
                {% for t in post.tags.all %}

                    <li class="tags-footer-li-post">{{ t }}</li>

                {% endfor %}
        </div>
    </div>

{% endblock %}

#test-tag1#test-tag2#test-tag3#test-tag4#test-tag5